<div class="table-container">
  <table mat-table [dataSource]="dataSource">

    <!-- Define table columns -->
    <ng-container matColumnDef="searchString">
      <th mat-header-cell *matHeaderCellDef>Search Query</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.searchString">
          <a [routerLink]="['/search', { query: element.searchString }]">{{ element.searchString }}</a>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="usersResultCount">
      <th mat-header-cell *matHeaderCellDef>Found Users Count</th>
      <td mat-cell *matCellDef="let element"> {{ element.usersResultCount }} </td>
    </ng-container>

    <ng-container matColumnDef="searchResult">
      <th mat-header-cell *matHeaderCellDef>Search Result</th>
      <td mat-cell *matCellDef="let element"> {{ element.searchResult }} </td>
    </ng-container>

    <ng-container matColumnDef="deleteButton">
      <th mat-header-cell *matHeaderCellDef>Clear Search</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="deleteHistory(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <div class="no-data-message" *ngIf="noDataFound">No data.</div>
</div>
